body {
	padding-top: 30px;
}

label {
	font-size: 14px;
	font-family: monospace;
	font-weight: 100 !important;
}

.navbar {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

#businfo {
    text-align: center;   
}
#arrival {
    text-align: center;
}

#yandex-copyright-vert {
    display: none;
}

@media only screen and (max-width: 760px) {
  #yandex-copyright-vert { display: block; }
    #yandex-copyright-horiz { display: none; }
    .map_container{
        max-width: 760px;
    }
}

.map { 
    max-width: 100%;
    max-height: 100%;
}