body {
	padding-top: 30px;
}

label {
	font-size: 14px;
	font-family: monospace;
	font-weight: 100 !important;
}

.navbar {
	text-align: center;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

#businfo {
    text-align: center;   
}