<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/dubki.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>О проекте Дубки</title>
    </head>

    <body>
       {% include 'YM.html' %}
        <div class='main'>
    	  <div class='well'>
    	  	<h1>Что это такое?</h1>
    	  	<label>Сервис, который позволяет рассчитать, сколько времени займёт дорога от общежития в Дубках
    	  		до выбранного корпуса ВШЭ (и обратно)</label>
    	 </div>
        
    	  <div class='well'>
    	  	<h1>Как это работает?</h1>
    	  	<label>Python3 + <a href="http://flask.pocoo.org/">Flask</a> + 
    	  		<a href="http://getbootstrap.com">Bootstrap.css</a> + 
    	  		API для расписания автобусов <a href="http://vk.com/aesalonteam">вот этих ребят</a> и
    	  		<a href="http://rasp.yandex.ru/">API Яндекс.Расписаний</a>
    	  	</label>
    	 </div>
        
            {% include 'feedback.html' %} 
            {% include 'donate.html' %}
            {% include 'navbar.html' %}
    </div> 	 
    </body>
 
 </html>