<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/dubki.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Дубки</title>
    </head>

    <body>
        <div class='main'>
        <blockquote>people just weren't exсited about the idea</blockquote>
            <div class='well'>
                <h1>Спасибо за внимание!</h1>
                <h2>Проект закрыт.</h2>
                <p>К сожалению, пользователей было недостаточно, чтобы
                мне хватало мотивации поддерживать его. Классные ребята
                перестали поставлять актуальное расписание автобусов и некоторое время
                оно обновлялось вручную</p>
                <p>На данный момент Вам смогут помочь Telegram-боты
                    <a href="http://telegram.me/dubkibus_bot">раз</a> и
                    <a href="http://telegram.me/dubkitrains_bot">два</a></p>
                <label>vmax, 2015-2016</label>

            </div>
        </div>
    </body>