<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/dubki.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
    	<div id='donate' class='well'>
    		<h1>Я, конечно, не настаиваю…</h1>
    		<label>…но мне будет весьма приятно (: </br>
    			<iframe id='donate-iframe' frameborder="0" allowtransparency="true" scrolling="yes" src="https://money.yandex.ru/embed/shop.xml?account=410011876536490&quickpay=shop&payment-type-choice=on&writer=seller&targets=Dubki&targets-hint=&default-sum=100&button-text=03&comment=on&hint=&successURL=" width="450" height="253"></iframe>
    			<a id='donate-link' href="http://yasobe.ru/na/dubkiapp">Страница для пожертвований</a>
    		</label>
    	</div>
    </body>
    </html>