<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/dubki.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ошибка</title>
    </head>
    
    <body>
         <div class='container well'>
    	  	<h1>Что-то пошло не так</h1>
    	  	<label>Скорее всего, мы уже работаем над этим</label>
    	 </div>
    	 <div class='container navbar well'>
         <a href="mailto:vmax0770@gmail.com?subject=Dubki">gmail</a>
         <a href="http://vk.com/id219479602">vk</a>
        <a href="http://github.com/vmax/dubki/">github</a>
    	 </div>  
    </body>

</html>

 