<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/dubki.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/andris9/jStorage/master/jstorage.js"></script>
        <script src="../static/dubki.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Отзыв</title>
    </head>
    
    <body>
         <div id='feedback-form' class='well form-group'>
            <h1>Здесь можно высказаться</h1>
                <label>Мы рассматриваем <em>все</em> отзывы. Пожалуйста, оставляйте адрес для
                    обратной связи, если сообщаете об ошибке или просите добавить новый функционал.
                    Заранее благодарим за внимание!</label>
    	   <textarea id='feedback-text' class='form-control'></textarea></br>
                <button id="feedback-btn" class="btn btn-default">Отправить</button>
        </div>
    </div>
    </body>

</html>
