<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/dubki.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/andris9/jStorage/master/jstorage.js"></script>
        <script src="../static/dubki.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Дубки</title>
    </head>
    
    <body>
        {% include 'YM.html' %}
<div class='main'>
    <div class="well" id="header">
        <blockquote id="quote">{{quote}}</blockquote>
    </div>
    
    <div class='well' id='businfo'>
        <label>
            из Дубков: {{bus1['departure'].strftime('%H:%M')}} 🚌 в Дубки: {{bus2['departure'].strftime('%H:%M')}}
        </label>
    </div>
    
    <div class="well" id="dorm_to_edu">
        
    <form class="form" action="/route" method="post">
        <div class="form-group">
            <label for="_to">Я хочу добраться из Дубков в корпус</label>
            <!-- FIXME: dummy element for POST parameter -->
            <input value="dubki" name="_from" style="display: none" />
            <select class="form-control" id="_to" name="_to">
            <option selected disabled style="display:none">&lt;выберите корпус назначения&gt;</option>
                {% for edu in edus %}
                    <option value='{{edu}}'>{{edus[edu]}}</option>
                {% endfor %}
            </select>

            <div id='date-radio-selector'>
                <label class="radio-inline date-now-label">
                    <input type="radio" name="date_options" checked value="now">Сейчас</input>
                </label>
                <label class="radio-inline date-today-label">
                    <input type="radio" name="date_options" value="today">Сегодня</input>
                </label>
                <label class="radio-inline date-tomorrow-label">
                    <input type="radio" name="date_options" value="tomorrow">Завтра</input>
                </label>
            </div>
            
            <div id='time-radio-selector'>
                <label class="radio-inline time-option-label">
                  <input type="radio" name="time_options" id='time_option_1' value='9:00'>I (9:00)
                </label>
                <label class="radio-inline time-option-label">
                  <input type="radio" name="time_options" id='time_option_2' value='10:30'>II (10:30)
                </label>
                <label class="radio-inline time-option-label">
                  <input type="radio" name="time_options" id='time_option_3' value='12:10'>III (12:10)
                </label>
                <label class="radio-inline time-option-label">
                  <input type="radio" name="time_options" id='time_option_4' value='13:40'>IV (13:40)
                </label>
                <label class="radio-inline time-option-label">
                  <input type="radio" name="time_options" id='time_option_5' value='15:10'>V (15:10)
                </label>
                <label class="radio-inline time-option-label">
                  <input type="radio" name="time_options" id='time_option_6' value='16:40'>VI (16:40)
                </label>
                <label class="radio-inline time-option-label">
                  <input type="radio" name="time_options" id='time_option_7' value='18:10'>VII (18:10)
                </label>
                <label class="radio-inline time-option-label">
                  <input type="radio" name="time_options" id='time_option_8' value='19:40'>VIII (19:40)
                </label>
            </div>
           
        </div> <!-- form-group end -->
        <button disabled id="go1" type="submit" class="btn btn-default">Поехали!</button>
    </form>
    </div>

  
    <div class="well" id="edu_to_dorm">
    <form class="form" action="/route" method="post">
        <div class="form-group">
            <label for="_from">Я хочу добраться в Дубки из корпуса</label>
            <!-- FIXME: dummy element for POST parameter -->
            <input value="dubki" name="_to" style="display: none" />
            <select class="form-control" id="_from" name="_from">
            <option selected disabled style="display:none">&lt;выберите корпус отправления&gt;</option>
                {% for edu in edus %}
                    <option value='{{edu}}'>{{edus[edu]}}</option>
                {% endfor %}
            </select>
        </div> <!-- form-group end -->
        <button disabled id="go2" type="submit" class="btn btn-default">Поехали!</button>
    </form>
    </div>

    <div class="navbar well" id="about">
            <a href="/about">О проекте<sup>β</sup></a>
    </div>
        </div>
    </body>
    
</html>