<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/dubki.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Маршрут</title>
    </head>

     <body>
       
        {% include 'YM.html' %}

        <div class="main">
            
            <div class='well'>
                <h1>Ваш маршрут займёт слишком долго!</h1>
                <label>Пожалуйста, воспользуйтесь  другим транспортом</label></br>
                <label>Как насчёт <img width='16px' height='16px' src='http://uber.com/favicon.ico'/> Uber®?</label></br>
                <label>
                	<a href="https://www.uber.com/invite/7zueeue">Зарегистрироваться (первая поездка бесплатно)</a> | <a href="uber://">Открыть приложение</a>
                </label>
            </div>
          
                {% include 'feedback.html' %}
                {% include 'navbar.html' %}

        </div>

       </body>
       </html>