<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/dubki.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Маршрут</title>
    </head>
    
    <body>
        {% include 'YM.html' %}

        <div class="main">


          <div class='well' id='arrival'>
            <label>отправление: {{departure.strftime('%H:%M')}} | прибытие: {{arrival.strftime('%H:%M')}}</label>
        </div>

            {% if onfoot %}
             <div class='well'>
            <h1>🚶&#09;Пешком</h1>
            <label>Примерно {{onfoot['time'].seconds // 60}} минут</label></br>
            {% if onfoot['mapsrc'] %}
            <!-- <script type="text/javascript" charset="utf-8" src={{onfoot['mapsrc']}}></script> !-->
            <div class='map_container'>
                <img class='map' src={{onfoot['mapsrc']}} />
            </div>
            {% endif %}
            </div>
        {% endif %}

            <div class='well'>
                <h1>🚇&#09;Метро</h1>
                <label> {{subway['from']}} ({{subway['departure'].strftime('%H:%M')}}) &rarr; {{subway['to']}} ({{subway['arrival'].strftime('%H:%M')}})</label>
            </div>

             <div class='well'>
            <h1>🚊&#09;Электричка</h1>
             <label>{{train['title']}} ({{train['departure'].strftime('%H:%M')}} &rarr; {{train['arrival'].strftime('%H:%M')}})
                 </br>Остановки: {{train['stops']}}</br>
                Выходите на станции: {{train['to']}}</label>
           <iframe id='yandex-copyright-vert' frameborder='0' style="overflow: hidden; border: 0; width: 240px; height: 130px;"src="http://yandex.st/rasp/media/apicc/copyright_vert_yellow.html">
               </iframe>
    <iframe id='yandex-copyright-horiz' frameborder="0" style="overflow: hidden; border: 0; width: 740px; height: 51px;" src="http://yandex.st/rasp/media/apicc/copyright_horiz_mono.html"></iframe>
        </div>
       
       {% if bus %}
        <div class='well'>
           <h1>🚌&#09;Автобус</h1>
                <label>{{bus['from']}} ({{bus['departure'].strftime('%H:%M')}}) &rarr; {{bus['to']}} ({{bus['arrival'].strftime('%H:%M')}})
                    </label>
        </div>
        {% endif %}
        
        {% include 'feedback.html' %}

        </div>
    </body>
</html>