<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Дубки</title>
    </head>
    <body>
    	<div id = 'direction'>{{_from}} &rarr; {{_to}}</div>
    	<div id = 'bus'>
                        <img src="static/bus.png">
                        {{bus}}
                </div>
    	<div id = 'train'>
            <img src="static/train.png">{{train}}</div>
    	<div id = 'subway'><img src="static/subway.png"></div>
    	<div id = 'onfoot'><img src="static/onfoot.png"></div>
    </body>
 </html>