<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Дубки</title>
    </head>
    <body>
    	<div id = 'direction'>{{_from}}&rarr; {{_to}}</div>
    	<div class='box'>
                        <span class='icon'><img src="static/bus.png"></span>
                        {{bus['from']}} ({{bus['departure'].strftime('%H:%M')}}) &rarr; {{bus['to']}}  ({{bus['arrival'].strftime('%H:%M')}})
             </div>
    	  
            <div class='box'>
                <span class='icon'><img src="static/train.png"></span>
                <span>{{train['title']}}, {{train['stops']}}  ({{train['departure'].strftime('%H:%M')}} &rarr; {{train['arrival'].strftime('%H:%M')}})
                </div>
    	<div class='box' id = 'subway'>
             <span class='icon'><img src="static/subway.png"></span>
            <span>{{subway['from']}} ({{subway['departure'].strftime('%H:%M')}}) &rarr; {{subway['to']}} ({{subway['arrival'].strftime('%H:%M')}})</span>
            </div>
    	<div class='box' id = 'onfoot'><img src="static/onfoot.png"></div>
    </body>
 </html>